<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/cabecalho") %>
    <%- include("../partials/menuBar") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>

    <div class="container rounded mt-5 mb-5" style="height: 20pc">
        <div class="row">

            <div class="col-sm-12">
                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Matricula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Detalhar</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                      </tr>
                    </thead>
                    <tbody>
            
                        <% alunos.forEach(function(aluno) { %>
                            <tr>
                                <td scope="row"><%= aluno.matricula%></td>
                                <td><%= aluno.nome %></td>
                                <td>
                                    <a href="/alunos/<%= aluno.matricula %>" type="button" class="btn btn-primary">
                                        Detalhar Aluno
                                    </a>
                                </td>
                                <td>
                                    <a href="/alunos/cadastrar/<%= aluno.matricula %>" type="button" class="btn btn-warning">
                                        Editar Aluno
                                    </a>
                                </td>
                                <td>
                                    <a href="/alunos/remover/<%= aluno.matricula %>" type="button" class="btn btn-danger">
                                        Excluir Aluno
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
            
            
                    </tbody>
                </table>

            </div>
      </div>
    </div> 

    

</body>

    <%- include("../partials/rodape") %>
</html>